@CHARSET "UTF-8";

/* 评价css */
.commenter-info { margin: 0 10px;}
.commenter-info img { width: 32px; height: 32px; border-radius: 16px; float: left; margin: 4px 10px 4px 0;}
.commenter-info div { line-height: 20px;}
.commenter-info a img { float: right;}

.comment-content { margin-left: 52px; padding-bottom: 10px;}

.comment-parent-text { border-left: #EAEAEF 2px solid; padding-left: 10px; margin: 6px 0;}

.acticle-controller { width: 100%; text-align: center; position: fixed; bottom: 0; border-top: #EAEAEF 1px solid; max-width: 768px; background-color: white;}
.acticle-controller div { display: table-cell; width: 1%;}
.acticle-controller div i { height: 30px; line-height: 30px; background-size: 12px; position: relative; width: 100%;}
.acticle-controller div i span { height: 30px; line-height: 30px; position: relative; left: 20px;}


.comment_parent, .comment_form { position: fixed; width: 100%; border-top: 1px solid #EAEAEF; background-color: #FFFFFF;}
.comment_parent { bottom: 120px; line-height: 40px;}
.comment_parent span { margin-left: 10px;}
.comment_form { bottom: 0;}
.comment_form .input-block { position: absolute; right: 40px; left: 0;}
.comment_form .input-block textarea { line-height: 20px; font-size: 16px; width: 100%; margin: 10px; height: 100px; border: none; resize: none;}
.comment_form i { height: 120px; background-position: 50% 10px;}