<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="{$keywords}">
	<meta name="description" content="{$description}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>z member</title>
	<link rel="stylesheet" href="./../css/z.style.css">
<head>
<body>
	<div class="z-trends-nav z-show-block">
		<a href="z-setting.html"><i class="z-icon z-icon-set-b z-f-right"></i></a>
	</div>
	<div class="z-trends-nav z-show-block z-t-n-tb" data-showFrom="#z-img-nav" hidden>
		<img data-src="../image/debug/3.jpg" class="z-icon" />
		<!-- <i class="z-icon z-icon-account-b"></i> -->
		<a href="z-setting.html"><i class="z-icon z-icon-set-b z-f-right"></i></a>
		<a href="#">alam</a>
	</div>

	<div class="z-base z-show-block">
		<div class="z-hole-block" id="z-img-nav">
			<a href="#" class="z-image-block">
				<i data-backgroundimgurl="../image/debug/3.jpg" class="z-i-b-cover"></i>
			</a>
		</div>
		<!-- 上传图片 -->
		<div class="z-block">
			<div class="z-t-center">
				<a href="z-uploadImg.html" class="z-l-table">
					<i class="z-icon z-icon-add-b"></i>
					<span class="z-label">上传</span>
				</a>
				<a href="z-gallery.html" class="z-l-table">
					<i class="z-icon z-icon-pic-b"></i>
					<span class="z-label">相册</span>
				</a>
			</div>
		</div>
		<div class="z-block">
			<span class="z-label"><i class="z-l-border"></i>Log</span>
			<div class="z-line">
				<div class="z-t-center">
					<a href="z-browse.html" class="z-l-table">
						<i class="z-icon z-icon-look-b"></i>
						<span class="z-label">浏览</span>
					</a>
					<a href="z-collect.html" class="z-l-table">
						<i class="z-icon z-icon-favorites-b"></i>
						<span class="z-label">收藏</span>
					</a>
					<a href="z-order.html" class="z-l-table">
						<i class="z-icon z-icon-order-b"></i>
						<span class="z-label">订单</span>
					</a>
				</div>
			</div>
		</div>
		<div class="z-block">
			<span class="z-label"><i class="z-l-border"></i>Fun</span>
			<div class="z-t-center">
				<div class="z-l-t-two">
					<i class="z-icon z-icon-dollar-r"></i>
					<span class="z-label">余额</span>
					<span class="z-input-t">￥ 1000.00</span>
				</div>
				<div class="z-l-t-two">
					<i class="z-icon z-icon-trade-assurance-r"></i>
					<span class="z-label">收益</span>
					<span class="z-input-t">￥ 1000.00</span>
				</div>
			</div>
			<div class="z-line">
				<div class="z-line-icon-l">
					<i class="z-icon z-icon-toys-b"></i>
				</div>
				<div class="z-line-icon-r">
					<i class="z-icon z-icon-right-b z-radio"></i>
				</div>
				<span class="z-input-t">文化生</span>
			</div>
			<div class="z-line">
				<div class="z-line-icon-l">
					<i class="z-icon z-icon-bussiness-b"></i>
				</div>
				<div class="z-line-icon-r">
					<i class="z-icon z-icon-right-b z-radio"></i>
				</div>
				<span class="z-input-t">导购员</span>
			</div>
			<div class="z-line">
				<div class="z-line-icon-l">
					<i class="z-icon z-icon-component-b"></i>
				</div>
				<div class="z-line-icon-r">
					<i class="z-icon z-icon-right-b z-radio"></i>
				</div>
				<span class="z-input-t">物料商</span>
			</div>
		</div>
	</div>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/z.js"></script>
	<script src="../js/z.image.js"></script>
	<script src="../js/z.trends.nav.js"></script>
	<style>
	
	</style>
</body>
</html>