<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="{$keywords}">
	<meta name="description" content="{$description}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>z order</title>
	<link rel="stylesheet" href="./../css/z.style.css">
<head>
<body>

	<div class="z-base z-show-block">
		<div class="z-hint-block small z-border-dashed-b">
			<i class="z-icon z-icon-search-b"></i>
			<span class="z-label">暂无记录</span>
		</div>
		<div class="z-block">
			<div class="z-line">
				<div class="z-t-center">
					<a href="z-order.html" class="z-l-table">
						<span class="z-label">全部</span>
					</a>
					<a href="z-order.html" class="z-l-table">
						<span class="z-label">待付</span>
					</a>
					<a href="z-order.html" class="z-l-table">
						<span class="z-label">待收</span>
					</a>
					<a href="z-order.html" class="z-l-table">
						<span class="z-label">完成</span>
					</a>
				</div>
			</div>
		</div>
		<style>
		.z-order-block { margin-bottom: 10px; border-bottom: 3px solid #EAEAEF;}
		.z-order-line { height: 60px; margin: 10px; overflow: hidden;}
		.z-order-line .z-image-block { width: 60px; height: 60px;}
		.z-order-line .content { position: absolute; top: 0; left: 70px; overflow: hidden; text-overflow: nowrap;}
		.z-order-line .content span { height: 16px; line-height: 16px; width: calc(100% - 80px); white-space: nowrap;}
		</style>
		<div class="z-order-block">
			<div class="z-line z-order-line">
				<div class="z-image-block">
					<a href="#" data-backgroundimgurl="./../image/debug/1.jpg" class="z-i-b-cover"></a>
				</div>
				<a class="content">
					<span>马桶一号马桶一号马桶一号马桶一号马桶一号马桶一号马桶一号</span><br/>
					<span>马桶不知道自己一天两天在干什么....</span><br/>
					<span>Alam</span>&nbsp;&nbsp;<span>2018/03/01</span>
				</a>
			</div>
			<div class="z-line z-order-line">
				<a href="#">
					<div class="z-image-block">
						<i data-backgroundimgurl="./../image/debug/1.jpg" class="z-i-b-cover"></i>
					</div>
					<a class="content">
						<span>洗手间马桶的一辈子</span><br/>
						<span>马桶不知道自己一天两天在干什么....</span><br/>
						<span>Alam</span>&nbsp;&nbsp;<span>2018/03/01</span>
					</a>
				</a>
			</div>
		</div>
		<div class="z-order-block">
			<div class="z-line z-order-line">
				<a href="#">
					<div class="z-image-block">
						<i data-backgroundimgurl="./../image/debug/1.jpg" class="z-i-b-cover"></i>
					</div>
					<a class="content">
						<span>洗手间马桶的一辈子</span><br/>
						<span>马桶不知道自己一天两天在干什么....</span><br/>
						<span>Alam</span>&nbsp;&nbsp;<span>2018/03/01</span>
					</a>
				</a>
			</div>
			<div class="z-line z-order-line">
				<a href="#">
					<div class="z-image-block">
						<i data-backgroundimgurl="./../image/debug/1.jpg" class="z-i-b-cover"></i>
					</div>
					<a class="content">
						<span>洗手间马桶的一辈子</span><br/>
						<span>马桶不知道自己一天两天在干什么....</span><br/>
						<span>Alam</span>&nbsp;&nbsp;<span>2018/03/01</span>
					</a>
				</a>
			</div>
		</div>

		<!-- 更多 -->
		<div class="z-line-article" id="more-other">
			<div class="z-line title">
				<span class="z-label"><i class="z-l-border"></i>More.</span>
			</div>
			<div class="z-line z-image-article-line">
				<a href="#" class="z-image-block">
					<i data-backgroundimgurl="http://image.zseries.site/upload/debug/1.jpg" class="z-i-b-cover"></i>
				</a>
				<a class="content">
					<span>洗手间马桶的一辈子</span><br/>
					<span>马桶不知道自己一天两天在干什么....</span><br/>
					<span>Alam</span>&nbsp;&nbsp;<span>2018/03/01</span>
				</a>
				<div class="z-line-icon-r">
					<i class="z-icon z-icon-right-b"></i>
				</div>
			</div>
			<div class="z-line z-image-article-line">
				<a href="#" class="z-image-block">
					<i data-backgroundimgurl="http://image.zseries.site/upload/debug/1.jpg" class="z-i-b-cover"></i>
				</a>
				<a class="content">
					<span>航海日记</span><br/>
					<span>在一望无际的汪洋大海....</span><br/>
					<span>Alam</span>&nbsp;&nbsp;<span>2018/03/01</span>
				</a>
				<div class="z-line-icon-r">
					<i class="z-icon z-icon-right-b"></i>
				</div>
			</div>
			<div class="z-line z-image-article-line">
				<a href="#" class="z-image-block">
					<i data-backgroundimgurl="http://image.zseries.site/upload/debug/1.jpg" class="z-i-b-cover"></i>
				</a>
				<a class="content">
					<span>瞎了你的眼</span><br/>
					<span>闭上眼睛吧，睁着你也看不懂这个社会....</span><br/>
					<span>Alam</span>&nbsp;&nbsp;<span>2018/03/01</span>
				</a>
				<div class="z-line-icon-r">
					<i class="z-icon z-icon-right-b"></i>
				</div>
			</div>
			<div class="z-line z-image-article-line">
				<a href="#" class="z-image-block">
					<i data-backgroundimgurl="http://image.zseries.site/upload/debug/1.jpg" class="z-i-b-cover"></i>
				</a>
				<a class="content">
					<span>一眼，只能看到一角</span><br/>
					<span>办公室里此起彼伏的键盘声，似乎与创造的价值成反比吧....</span><br/>
					<span>Alam</span>&nbsp;&nbsp;<span>2018/03/01</span>
				</a>
				<div class="z-line-icon-r">
					<i class="z-icon z-icon-right-b"></i>
				</div>
			</div>
		</div>
		<div class="z-block">
			<div class="z-line">
				<div class="z-t-center">
					<div class="z-l-table" data-submit="0" onclick="">
						<i class="z-icon z-icon-down-b"></i>
						<span class="z-label">点击加载更多</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="z-float-process z-f-p-rb">
		<div class="z-f-p-drawer z-f-left">
			<i class="z-icon z-icon-back-b" onclick="history.back();"></i>
		</div>
		<i class="z-icon z-radio z-f-right" value="0" data-wrong="z-icon-add-b" data-selected="z-icon-close-r"></i>
	</div>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/z.js"></script>
	<script src="../js/z.import.js"></script>
	<script src="../js/z.image.js"></script>
	<script src="../js/z.trends.nav.js"></script>
	<style>
	
	</style>
</body>
</html>